<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discover the benefits of infrared saunas, over traditional steam or hot rocks, and optimise your health. Enquire online today and try one for yourself!" />
    <link rel="shortcut icon" href="/static/image/favicon.png" type="image/png" />
    <link rel="canonical" href="https://ihealthsaunas.com.au/" />
    <title>iHealth SOne</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/devices.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><a href="https://ihealthsaunas.com.au/" target="_blank"><img src="/static/image/logo.png"></a></h1>
          <ul class="nav nav-right">
              <li><a class="active" href="#">Devices</a></li>
              <li><a href="https://github.com/hotteshen/eastec.s1" target="_blank">Firmware</a></li>
              <li><a href="/docs" target="_blank">API Doc</a></li>
            </ul>
        </div><!--/.container-->
    </nav><!--/.navbar-->

    <div class="container">

{% if sauna_id_list == [] %}
        <div class="device-tab ">
            <div id="device-content">
                <div class="device-content message">
                    <div class="device-info">
                        <span class="device-name">No SOne device connected. Reload the page for refreshing.</span>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% for device_id in sauna_id_list %}
        <div class="device-tab ">
            <input id="device-{{ device_id }}" type="checkbox" class="device-input" name="device">
            <label for="device-{{ device_id }}" class="device-label"></label>
            <div class="device-content">
                <div class="device-info">
                    <div class="chart-pie normal-temp">
                        <span class="chart-pie-count">{{ status_dict[device_id]['current_temperature'] }}</span>
                        <div>
                            <div class="first-fill"></div>
                            <div class="second-fill" style="transform: rotate(% status_dict[device_id]['current_temperature'] / 100 * 360 %}deg)"></div>
                        </div>
                    </div>
                    <span class="device-name">SOne {{ device_id }}</span>
                </div>
                <div class="device-stat">
                    <div>
                        <span class="state state-{{ status_dict[device_id]['state'] }}">{{ status_dict[device_id]['state'] }}</span>
                    </div>
                </div>
            </div>
            <div class="device-tab-content">
                <div class="sentiment-wrapper">
                    <div class="row">
                        <div class="col-7">
                            <div class="card">
                                <div class="card-header">
                                    Status in detail
                                </div>
                                <div class="card-body">
                                    <!--p>Sauna ID: {{ status_dict[device_id] }}</p-->
                                    <div>
                                        Device ID: {{ device_id }}
                                    </div>
                                    <div>
                                        Current Temperature: {{ status_dict[device_id]['current_temperature'] }} °C
                                    </div>
                                    <div>
                                        Target Temperature: {{ status_dict[device_id]['target_temperature'] }} °C
                                    </div>
                                    <div>
                                        Timer: {{ status_dict[device_id]['timer'] }}
                                    </div>
                                    <div>
                                        Program Name: {{ status_dict[device_id]['program']['name'] }}
                                    </div>
                                    <div>
                                        <br />
                                    </div>
                                    <div>
                                        Device Uptime: {{ status_dict[device_id]['sysinfo']['time_since_sys_boot'] }}
                                    </div>
                                    <div>
                                        App Uptime: {{ status_dict[device_id]['sysinfo']['time_since_app_start'] }}
                                    </div>
                                    <div>
                                        Firmware Version: {{ status_dict[device_id]['sysinfo']['firmware_version'] }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="card">
                                <div class="card-header">
                                    Actions
                                </div>
                                <div class="card-body">
                                    <button type="button" class="btn btn-primary btn-block">Restart Device App</button>
                                    <button type="button" class="btn btn-primary btn-block">Reboot Device Hardware</button>
                                    <button type="button" class="btn btn-warning btn-block">Update Frimware</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

    </div><!--/.container-->

</body>
</html>
