aiofiles
async-timeout
cryptography
dbus-python
fastapi
flake8
gobject
gunicorn
httpx
jinja2
netifaces
pillow
psutil
pyjwt
pyopenssl
pyserial
pytest
pytest-asyncio
pytest-mock
python-dateutil
pytz
pywifi
pytz
qrcode[pil]
requests
typer
uvicorn
vedis
websockets
