<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discover the benefits of infrared saunas, over traditional steam or hot rocks, and optimise your health. Enquire online today and try one for yourself!" />
    <link rel="shortcut icon" href="/static/image/favicon.png" type="image/png" />
    <link rel="canonical" href="https://ihealthsaunas.com.au/" />
    <title>iHealth SOne</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/devices.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><a href="https://ihealthsaunas.com.au/" target="_blank"><img src="/static/image/logo.png"></a></h1>
          <ul class="nav nav-right">
              <li><a class="active" href="#">Devices</a></li>
              <li><a href="#">Firmware</a></li>
              <li><a href="/docs" target="_blank">API Doc</a></li>
            </ul>
        </div><!--/.container-->
    </nav><!--/.navbar-->

    <div class="container">

        <div id="device-content">
{% if device_ids == [] %}
            <div class="device-tab ">
                <div class="device-content message">
                    <div class="device-info">
                        <span class="device-name">No SOne device connected. Reload the page for refreshing.</span>
                    </div>
                </div>
            </div>
{% endif %}
{% for device_id in device_ids %}
            <div class="device-tab ">
                <input id="item-18" type="checkbox" class="device-input" name="device">
                <label for="item-18" class="device-label"></label>
                <div class="device-content">
                    <div class="device-info">
                        <div class="chart-pie high-temp over50">
                            <span class="chart-pie-count">69</span>
                            <div>
                                <div class="first-fill"></div>
                                <div class="second-fill" style="transform: rotate(249deg)"></div>
                            </div>
                        </div>
                        <span class="device-name">SOne &lt;{{device_id}}&gt;</span>
                    </div>
                    <div class="device-stat">
                        <div>
                            <span class="status-playing">Playing</span>
                        </div>
                    </div>
                </div>
                <div class="device-tab-content">
                    <div class="sentiment-wrapper">
                        <div>
                            <div>
                                <div class="status-playing detail-header">
                                    <span>Playing</span>
                                    <span>1</span>
                                </div>
                                <div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="status-standby detail-header">
                                    <span>Standby</span>
                                    <span>0</span>
                                </div>
                                <div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div>
                                <div class="status-paused detail-header">
                                    <span>Paused</span>
                                    <span>0</span>
                                </div>
                                <div>
                                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin id congue dolor. Vivamus eleifend vitae nunc sed tincidunt.</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
{% endfor %}
        </div><!-- .device-content -->

    </div><!--/.container-->

</body>
</html>
