<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Discover the benefits of infrared saunas, over traditional steam or hot rocks, and optimise your health. Enquire online today and try one for yourself!" />
    <link rel="shortcut icon" href="/static/image/favicon.png" type="image/png" />
    <link rel="canonical" href="https://ihealthsaunas.com.au/" />
    <title>iHealth SOne</title>
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/static/css/navbar.css">
    <link rel="stylesheet" href="/static/css/devices.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <h1 class="logo"><a href="https://ihealthsaunas.com.au/" target="_blank"><img src="/static/image/logo.png"></a></h1>
          <ul class="nav nav-right">
              <li><a class="active" href="#">Devices</a></li>
              <li><a href="#">Firmware</a></li>
              <li><a href="/docs" target="_blank">API Doc</a></li>
            </ul>
        </div><!--/.container-->
    </nav><!--/.navbar-->

    <div class="container">

{% if sauna_id_list == [] %}
        <div class="device-tab ">
            <div id="device-content">
                <div class="device-content message">
                    <div class="device-info">
                        <span class="device-name">No SOne device connected. Reload the page for refreshing.</span>
                    </div>
                </div>
            </div>
        </div>
{% endif %}
{% for device_id in sauna_id_list %}
        <div class="device-tab ">
            <input id="device-{{ device_id }}" type="checkbox" class="device-input" name="device">
            <label for="device-{{ device_id }}" class="device-label"></label>
            <div class="device-content">
                <div class="device-info">
                    <div class="chart-pie normal-temp">
                        <span class="chart-pie-count">{{ status_dict[device_id]['current_temperature'] }}</span>
                        <div>
                            <div class="first-fill"></div>
                            <div class="second-fill" style="transform: rotate(% status_dict[device_id]['current_temperature'] / 100 * 360 %}deg)"></div>
                        </div>
                    </div>
                    <span class="device-name">SOne {{ device_id }}</span>
                </div>
                <div class="device-stat">
                    <div>
                        <span class="state-{{ status_dict[device_id]['state'] }}">{{ status_dict[device_id]['state'] }}</span>
                    </div>
                </div>
            </div>
            <div class="device-tab-content">
                <div class="sentiment-wrapper">
                    <div>
                        <div>
                            <div class="state-{{ status_dict[device_id]['state'] }} detail-header">
                                <span>{{ status_dict[device_id]['state'] }}</span>
                            </div>
                            <div>
                                <span>The state of sauna, one of 'standby', 'heating', 'ready', 'insession', 'paused'. Does it make sense?</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="detail-header">
                                <span>Status in detail</span>
                            </div>
                            <div>
                                <span>state: {{ status_dict[device_id] }}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div>
                            <div class="detail-header">
                                <span>Actions</span>
                                <span>--</span>
                            </div>
                            <div>
                                <span>Manage SOne device in more detail, control parameters, reboot, or upgrade firmware.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endfor %}

    </div><!--/.container-->

</body>
</html>
